<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask & Nginx Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Flask with the Nginx!</h1>
    <button onclick="fetchData()">Call API</button>
    <p id="response"></p>
    <img src="{{ url_for('static', filename='images/example.png') }}" alt="Example Image">
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
